<html>
  {% load static %}
    <link href ="{% static "upload1.css" %}" rel='stylesheet' >
    <header>
        <title>
            SPEECH ANALYSIS PORTAL
        </title>
        <div class="logo">
            <li>
                <a href="https://spire.ee.iisc.ac.in/spire/"><img src="{% static "spire_logo.png" %}"></a> 
            </li>
            <div class ="logotext"></div>
        </div>
    </header>
        <ul>
            <li><a href = "/button/">HOME</a></li>
            <li><a>ANALYSIS</a>
            <ul>
            <li><a href = "/upload/" >PITCH & FORMANT</a></li>
            <li><a href= "/vow/" >VOWEL TRIANGLE</a></li>
            <li><a href= "/deleteMedia/" >DELETE AUDIO</a></li>
            </ul>
        </li>
        <li><a>CONTACT US</a>
        <ul>
            <li><a>NUMBER</a></li>
            <li><a>EMAIL</a></li>
            <li><a>LOCATION</a></li>

        </ul>
        </li>
    </li>
        </ul>
        <h1>WEB PORTAL TO CALCULATE VARIOUS SPEECH PARAMETERS</h1>

</html>